:root {
    --verdeOscuro: rgb(13, 110, 59);
    --verdeClaro: rgb(95, 166, 122);
    --darkgreen: #215B63;
    --beige: rgb(255, 219, 185);
    --verdeBackground: #9FE2BF;
    --fuentePrincipal: 'verdana', sans-serif;
}

.container {
    padding: 0 50px;
    display: flex;
    flex-flow: column wrap;
}

.jumbotron {
    padding: 50px 0px;
    margin-top: 60px;
}

.jumbotron h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: var(--verdeOscuro);
    
}
@media (min-width: 768px)
{
    .jumbotron h1 {
        font-size: 40px;
    }
}
.jumbotron h2 {
    margin-top: 20px;
    font-size: 22px;

    font-weight: lighter;
    text-align: justify;
}

.topic-title {
    border-top: 2px solid var(--darkgreen);
    border-bottom: 2px solid var(--darkgreen);
    padding: 5px 10px;
    display: flex;
    font-size: 18px;
    color: #ffffff;
    background: var(--verdeOscuro);
}

.tt-title {
    flex: 4;
}

.tt-topic {
    flex: 1;
    text-align: center;
}

.tt-post {
    flex: 1;
    text-align: center;
}

.tt-l-post {
    flex: 2;
    text-align: center;
}

.topic-content {
    display: flex;

    background: white;
    padding: 10px;
    font-size: 14px;
    color: var(--verdeOscuro);
    border-bottom: 1px solid var(--verdeOscuro);
    align-items: center;
}

.topic-content:last-child {
    border-bottom: none;
}

.tc-description {
    flex: 4;
}

.d-title {
    color: var(--darkgreen);
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}
@media (min-width: 768px)
{
    .d-title {
    text-align: left;
}
}

.d-description {
    margin-bottom: 10px;
    color: black;
}

.mobile-info {
    display: none;
    text-align: center;
}

.tc-topic {
    flex: 1;
    text-align: center;
}

.tc-post {
    flex: 1;
    text-align: center;
   
}

.tc-l-post {
    flex: 2;
    color: var(--darkgreen);
}

.newPost {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.newPost h3 {
    margin-top: 0;
    color: var(--darkgreen);
}

.newPost input[type="text"],
.newPost textarea {
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
}

.newPost textarea {
    height: 150px;
}

.newPost button {
    background-color: var(--verdeOscuro);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.newPost button:hover {
    background-color:var(--darkgreen) ;
}

.newPost input[type="text"]::placeholder,
.newPost textarea::placeholder {
    color: #999;
    /* Placeholder text color */
}

.newPost input[type="text"]:-ms-input-placeholder,
.newPost textarea:-ms-input-placeholder {
    color: #999;
    /* Placeholder text color for IE */
}

.newPost input[type="text"]::-ms-input-placeholder,
.newPost textarea::-ms-input-placeholder {
    color: #999;
    /* Placeholder text color for Edge */
}



@media all and (max-width: 710px) {

    .tt-topic,
    .tt-post,
    .tt-l-post,
    .tc-topic,
    .tc-post,
    .tc-l-post {
        display: none;
    }

    .mobile-info {
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
      
    }

    .mi-topics,
    .mi-posts,
    .mi-lpost {
        margin-right: 20px;
    }
}

@media all and (max-width: 500px) {
    .container {
        padding: 0;
        margin: 0;
    }

    .jumbotron {
        display: none;
    }
}